<div class="jumbotron">
	<h1 class="text-center">
		Bem vindo ao Contatooh!
	</h1>
</div>
<p ng-show="mensagem.texto">
	{{mensagem.texto}}
</p>
<a ng-href="#/contato" class="btn btn-primary" >Novo</a>
<input type="search" placeholder="parte do nome" ng-model="filtro">
<p ng-show="contatos.length">Contatos Cadastrados: {{contatos.length}}</p>
<p class="text-info" ng-hide="contatos.length"> Não há contatos cadastrados.</p>
<div class="table-responsive" >
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Nome</th>
				<th>E-mail</th>
				<th>Emergência</th>
				<th>Ação</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="contato in contatos | filter: filtro">
				<td><a ng-href="#/contato/{{contato._id}}">{{contato.nome}}</a></td>
				<td>{{contato.email}}</td>
				<td>{{contato.emergencia.nome}}</td>
				<td><button class="btn btn-warning" ng-click="remove(contato)">Remover</button></td>			
			</tr>
		</tbody>
	</table>
</div>