<!doctype html>
<html>
<head>
	<title>Autenticação de usuário</title>
	<meta name="viewport" content="width=device-width"/>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
</head>
<body>
	<div class="content" >
		<a href="/auth/github">
			<h1 class="text-centered">Login pelo github</h1>
		</a>
	</div>
</body>
</html> 